<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="<%= BASE_URL %>resources_modules/font-awesome-4.7.0/css/font-awesome.css">
  <script src="<%= BASE_URL %>resources_modules/moment.min.js"></script>
  <script src="<%= BASE_URL %>resources_modules/jurisdiction.js"></script>
  <script src="https://map.qq.com/api/js?v=2.exp&key=33JBZ-6JN3U-RNZV5-4KMB4-DSXT5-BLBLU"></script>
  <title>后台管理系统</title>
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      margin: 0;
    }
  </style>
  <script>
    AJAX_URL="<%= process.env.VUE_APP_AJAX_URL %>";
  </script>
</head>

<body>
  <noscript>
    <strong>很抱歉，没有启用JavaScript，无法正常工作。请让它继续。</strong>
  </noscript>
  <div id="app"></div>
</body>

</html>